.header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    height: 50px;
    border-bottom: 1px solid #dce1e6;
    z-index: 20;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.header_logo {
   height: 40px;
   padding: 2px 0;
}

.loginBlock{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 4px 5px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
}

.loginBlock__Login{
    color: #041226;
    height: 100%;
    display: inline-block;
    padding: 4px 9px;
    border-radius: 6px;
    background: #eceeef;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color .1s linear;
    outline: none;
}

.loginBlock__Login:hover{
    background-color: #d9dde0;
}

.loginBlock__Login:focus{
    padding: 2px 7px;
    border: 2px solid #4a4a4a;
}

.loginBlock__name{
    font-weight: 700;
    margin-right: 8px;
}

.headerButton{
    padding-left: 5px;
    padding-right: 10px;
}

.headerIcon{
    margin: 0 5px;
}
